* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*box-sizing - учитывается все кроме margin*/
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Убираем линии обводки*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

/*Выравнивание шрифтов + запрет на увеличение*/
html {height: 100%;}
body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*Наследование шрифта у тегов форм*/
input,button,textarea{font-family:inherit;}
ul li{list-style: none;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* ------------------------------------------------- */


body {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #969696;
	letter-spacing: -0.41px;
	line-height: 25px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}


.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

main {
	flex: 1 1 auto;
}

@media (max-width:1230px) {
	.container { 
		max-width: 970px;
	}
}

@media (max-width:992px) {
	.container { 
		max-width: 750px;
	}
}

@media (max-width:767px) {
	.container { 
		max-width: none;
	}
}


/* !!!!!!!!!! HEADER !!!!!!!!!! */

.header {
	padding: 50px 0;
	color: white;
	line-height: 21px;
	background: url(/img/1header/bg_header.png) 0 0/cover no-repeat;

}

.container__header {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__top {
	margin-bottom: 100px;
}

/* .top {} */

.top__row {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top__logo {
	font-size: 18px;
	font-weight: 600;
	color: white;
	position: relative;
	padding-left: 48px;
}

.top__logo::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 0;
	background: url(/img/1header/header__logo.svg) no-repeat;
	width: 38px;
	height: 36px;
}

.top__menu {
	display: inline-flex;
	align-items: center;
	flex-shrink: 1 1 auto;
}

.top__menu p {
	font-weight: 400;
	font-size: 16px;
	margin-right: 40px;
}

.top__menu p:last-child {margin-right: 0;}

/* .top__login {} */

.top__btn {
	margin-right: 10px;
}

.top__btn:last-child {
	margin-right: 0;
}

.btn-blue {
	color: white;
	border-radius: 8px;
	border: 1px solid white;
	font-weight: 400;
	padding: 12px 45px;
	background: none;
}

.btn-white {
	color: #6A4BFF;
	border-radius: 8px;
	border: 1px solid white;
	font-weight: 400;
	background: white;
	padding: 12px 45px;
}



/* .header__body {} */

.header__container {
	max-width: 920px;
	margin: 0 auto;
}

.header__text {
	text-align: center;
	margin-bottom: 90px;
}

.header__title {
	font-size: 64px;
	font-weight: 700;
	line-height: 81px;
	letter-spacing: 0.5%;
	text-transform: capitalize;
	letter-spacing: 0.5%;
	margin-bottom: 50px;
}

.header__title span {
	text-decoration: underline;
	color: #37E2D5;
	position: relative;

}

.header__title span::after {
	content: "";
	position: absolute;
	right: -35px;
	bottom: 20px;
	width: 24px;
	height: 16px;
	background: url(/img/1header/business_icon.svg) no-repeat;
}

.header__subtitle {
	max-width: 580px;
	margin: 0 auto;
	font-size: 17px;
	line-height: 32px;
	font-weight: 400;
	margin-bottom: 60px;
}

.header__btn {
	margin-right: 25px;
}

.header__btn:last-child {
	margin-right: 0;
}

/* .header__imgs {} */

.header__dashboard {
	margin-bottom: 90px;
}

.header__dashboard img {
	width: 100%;
	border-radius: 24px;
	box-shadow: 2px 5px 20px rgba(255, 255, 255, 0.2);
}


.header__icons {}

.icons {}

.icons__row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

.icons__img {
	margin-bottom: 20px;
	background: white;
	border-radius: 15px;
	box-shadow: 2px 5px 20px rgba(255, 255, 255, 0.2);
}

.icons__img img {max-width: 100%;}



/* !!!!!!!!!! SOLUTION !!!!!!!!!! */

.solution {
	padding: 80px 0 105px 0;
}

.solution__header {
	text-align: center;
	margin-bottom: 60px;
}

.solution__title {
	letter-spacing: 0.9px;
	color: #0C0047;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.solution__subtitle {}

.solution__row {
	display: flex;
	margin: 0 15px;
}

.solution__column {
	flex: 0 1 25%;
	padding: 0 15px;
	display: flex;
}

.solution__item {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border: 1px solid #EAEAEA;
	border-radius: 15px;
	box-shadow: 0 10px 56px rgba(0, 0, 0, 0.1);
}

.solution__icon {
	background: #F2F2F2;
	border-radius: 15px;
	padding: 12px;
	width: 64px;
	height: 64px;
	margin-bottom: 25px;
}

.solution__body {
	flex: 1 1 auto;
	margin-bottom: 30px;
}

.solution__body-title {
	line-height: 30px;
	font-size: 22px;
	font-weight: 600;
	color: #343434;
	margin-bottom: 20px;
}

.solution__body-text {
	line-height: 170%;
}

.solution__btn {
	color: #6A4BFF;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 600;
}


/* !!!!!!!!!! TEAM !!!!!!!!!! */


.team {
	background: #F2F2FF;
	padding: 115px 0;
}

.team__row {
	display: flex;
	justify-content: space-between;
}

.team__body {
	padding-right: 30px;
	flex: 1 1 535px;
	padding-top: 40px;
}

.team__title {
	margin-bottom: 30px;
}

.big-title {
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 52px;
	color: #0C0047;
	line-height: 150%;
}

.team__text {
	padding-right: 200px;
	margin-bottom: 35px;
}

.team__people {
	margin-bottom: 40px;
	color: #343434;
	font-weight: 600;
	line-height: 30px;
	position: relative;
	padding: 0 0 0 90px;
	background: url(/img/3team/man4.png) 54px 50% no-repeat, url(/img/3team/man3.png) 36px 50% no-repeat, url(/img/3team/man2.png) 18px 50% no-repeat, url(/img/3team/man1.png) 0 50% no-repeat;
}

.team__btn {
	background: #6A4BFF;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding: 12px 45px;
	color: #ffffff;
	font-weight: 600;
}

.team__img {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}

.team__img img {
	width: 100%;
}



/* !!!!!!!!!! PRICING !!!!!!!!!! */


.price {
	padding: 130px 0 45px;
	text-align: center;
	background: #fbfbfe;
}

.price__top {
	margin-bottom: 35px;
}

.price__title {
	margin-bottom: 50px;
}

.price__subtitle {
	margin-bottom: 40px;
}

.price__tariff {
	font-size: 16px;
	line-height: 24px;
	color: #343434;
	display: flex;
	align-items: center;
	justify-content: center;
}

.price__tariff p:first-child {
	padding-right: 24px;
}

.price__tariff p:last-child {
	padding-left: 24px;
}

.price__tariff a {
	display: inline-block;
	background: #f2f2ff;
	width: 100px;
	height: 50px;
	border-radius: 40px 40px 40px 40px;
	position: relative;
}

.price__tariff img {
	display: flex;
	align-items: center;
	position: absolute;
	top: 10px;
	left: 10px;
}

.price__row {
	display: flex;
	margin: 0 -12.5px;
}

.price__column {
	flex: 0 1 33.333%;
	padding: 0 12.5px;
	display: flex;
}

.price__item {
	background: #FFFFFF;
	padding: 50px 24px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 56px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.column__title {
	font-size: 24px;
	color: #0C0047;
	font-weight: 700;
	margin-bottom: 30px;
}

.column__text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 37px;
}

.column__price {
	margin-bottom: 42px;
	letter-spacing: 1.1px;
}

.column__price span {
	font-size: 56px;
	line-height: 60px;
	color: #0C0047;
	font-weight: 700;
}

.column__btn {
	display: block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	background: #00218F;
	padding: 12px 65px;
	border-radius: 8px;
	margin-bottom: 48px;
}

.column__list {
	text-align: left;
	color: #0C0047;
	letter-spacing: 0.4px;
	font-weight: 600;
	line-height: 20px;
}

.column__list li {
	margin-bottom: 24px;
	padding-left: 30px;
	position: relative;
}

.column__list li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(/img/4price/price_white-mark.svg) 50% 50% no-repeat, #152c5b;
	border-radius: 50%;
}

.column__list li:last-child {margin-bottom: 0;}

.not-available {
	text-decoration: line-through;
}

.column__list li span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(/img/4price/price_white-mark.svg) 50% 50% no-repeat, #c4c4c4;	
	border-radius: 50%;
}


/* !!!!!!!!!! USERS !!!!!!!!!! */


.users {
	padding: 165px 0 100px;
}

.users__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	align-items: center;
}

.users__title {
	font-size: 40px;
	line-height: 81px;
}

.users__arrow {}

.users__arrow a:first-child {
	padding-right: 50px;
}

.users__row {
	display: flex;
	margin: 0 -12px;
}

.users__column {
	flex: 0 1 33.333%;
	padding: 0 12px;
	display: flex;
}

.users__item {
	border-radius: 20px;
	border: 1px solid #eaeaea;
	padding: 32px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 56px rgba(0, 0, 0, 0.1);
}

.item-users__header {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.item-users__photo {}

.item-users__title {
	padding-left: 20px;
}

.item-users__name {
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	color: #343434;
}

.item-users__job {
	line-height: 22px;
}

.item-users__text {
	flex: 1 1 auto;
	margin-bottom: 30px;
}


/* !!!!!!!!!! FOOTER !!!!!!!!!! */


.footer {
	padding: 90px 0 0 0;
	background: #f9f9f9;
	color: #343434;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.footer__left {}

.footer__logo {
	font-size: 18px;
	font-weight: 600;
	color: #0C0047;
	position: relative;
	padding-left: 48px;
	margin-bottom: 40px;
} 

.footer__logo::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 0;
	background: url(/img/6footer/footer__logo.png) no-repeat;
	width: 38px;
	height: 36px;
}

.footer__slogan {
	font-size: 18px;
	line-height: 32px;
}

.footer__right {
	display: flex;
	margin: 0 -15px;
}

.footer__column {
	flex: 0 0 25%;
	padding: 0 15px;
	display: flex;
}

.footer__item {
	padding: 0 10px;
	width: 150px;
}

.item-footer__title {
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 20px;
}

.item-footer__body {}

.item-footer__body li {
	padding-bottom: 20px;
}

.item-footer__body li:last-child {
	padding-bottom: 0px;
}

.footer__social {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer__social img {
	max-width: 100%;
}

.footer__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.footer__text {
	line-height: 28px;
}
